# local web directory location
WEB_VOLUME=/home/alitofan/works/business_app

# MYSQL Config
MYSQL_ROOT_PASSWORD=root

#mongo config
MONGO_ROOT_USER=root
MONGO_ROOT_PASS=root

MONGO_BASICAUTH_USER=admin
MONGO_BASICAUTH_PASS=secret

#Node app
NODE_VOLUME=/home/alitofan/works/services_app

UID=1000
GID=1000