version: "3"
services:

  xphp81:
    build: 
      context: ./php8.1/alpine
      dockerfile: Dockerfile-phpredis
    container_name: x_php81
    volumes:
      - ${WEB_VOLUME}:/var/www/
    depends_on:
    - xmysql57
    - xmongo

  xmysql57:
    container_name: x_mysql57
    image: mysql:5.7
    command: --sql_mode="NO_ENGINE_SUBSTITUTION"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3324:3306"

  xnginx:
    build: ./nginx/alpine
    container_name: x_nginx
    ports:
      - "8084:80" #nginx
      - "8087:8087" #available for another project
      - "8088:8088" #project presensi
    volumes:
      - ${WEB_VOLUME}:/var/www/
      - ./nginx/conf/sites-enabled/:/etc/nginx/sites-enabled/
      - ./nginx/logs:/var/log/nginx/
      - /tmp/:/tmp/
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - xphp81
      - xmysql57
      - xmongo
  
  xnode:
    build:
      context: ../     # root folder Me. satu tingkat sub folder diatas folder
      dockerfile: docker/node/Dockerfile
    container_name: x_node
    working_dir: /app
    volumes:
      - ${NODE_VOLUME}:/app
      - ${NODE_VOLUME}/wa-service/.wwebjs_auth:/app/wa-service/.wwebjs_auth
    ports:
      - "3001:3001"
      - "5173:5173"
    environment:
      - NODE_ENV=development
    depends_on:
      - xphp81
  
  xmongo:
    container_name: x_mongo
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    ports:
      - "27027:27017"
    volumes:
      - ./mongodb/data:/data/db
      - ./mongodb/config:/data/configdb