version: "3"
services:

  php81:
    build: 
      context: ./php8.1/alpine
      dockerfile: Dockerfile-phpredis
    container_name: php81
    volumes:
      - ${WEB_VOLUME}:/var/www/
    depends_on:
    - mysql57
    - mongo

  mysql57:
    container_name: mysql57
    image: mysql:5.7
    command: --sql_mode="NO_ENGINE_SUBSTITUTION"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3324:3306"

  nginx:
    build: ./nginx/alpine
    container_name: nginx
    ports:
      - "8084:80" #nginx
      - "8087:8087" #available for another project
      - "8088:8088" #project presensi
    volumes:
      - ${WEB_VOLUME}:/var/www/
      - ./nginx/conf/sites-enabled/:/etc/nginx/sites-enabled/
      - ./nginx/logs:/var/log/nginx/
      - /tmp/:/tmp/
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - php81
      - mysql57
      - mongo
  
  mongo:
    container_name: mongo
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    ports:
      - "27027:27017"
    volumes:
      - ./mongodb/data:/data/db
      - ./mongodb/config:/data/configdb